# loot
**/*.json
**/*.db
**/*.tar.gz
**/*.tgz
/app/data/

# py
**/*.pyc
**/__pycache__/*
*.pyc

# emv
.env
**/*.env
token_pull.txt

# ide
.cursorignore
/.roo/
*.code-workspace
/.claude/
.rooignore

#docs 
/docs/textual-docs/
/app/core/__pycache__
/app/__pycache__
**/__pycache__/*
/docs/legacy-do-not-review